<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level - %msg%n"></PatternLayout>
		</Console>
		<File name="Filelogger" filename="C:\logs\app.log" append="true">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level - %msg%n"></PatternLayout>
		</File>
	</Appenders>
	<Loggers>
		<Root level="info">
			<AppenderRef ref="Console"></AppenderRef>
			<AppenderRef ref="Filelogger"></AppenderRef>
		</Root>
	</Loggers>
</Configuration>